body {

    background-color: #1E201E;
}



.button {

    text-align: center;
    margin-top: 180px;
    
}

.wew {

    border-radius: 300px;
    width: 300px;   
    cursor: pointer;
    border-color: #f1101b;
    border-style: solid;
    
}

.hi{

    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: #f1101b;
}